---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md")
const pageTitle = "Comprido's Blog"
---
<BaseLayout pageTitle={pageTitle}>
	<p>I am learning Astro to develop my first landing page.</p>
	<ul>
		{allPosts.map(p => <BlogPost url={p.url} title={p.frontmatter.title} />)}
	</ul>
</BaseLayout>